#drafts {
  padding-left: calc(var(--gutterwidth) + 8px);
  display: none;
  flex-wrap: wrap;
  padding-bottom: 32px;
  flex-direction: column;
  width: 100%;
}
#draftscontainer {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  flex-wrap: wrap;
}

.draft-container {
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  background-color: var(--bg3);
  flex-direction: column;
}

.draft-container button {
  width: 28px;
  height: 24px;
  background-position: center center;
  border-radius: 4px;
  background-color: transparent;
  background-size: 14px 14px;
  margin-left: auto;
  display: inline-block;

}

.draft-container button:hover {
  background-color: var(--bg4);
}


.draft-name:empty:before {
  content: "Name";
  color: var(--placeholdercolor);
  pointer-events: none;
}
.draft-text{
  font-size: 14px;
  overflow-x: auto;
  white-space: pre-wrap;
  margin: 4px 0 2px 0;
  word-wrap: break-word;
  color: var(--textblocktextcolor);
}

.draft-text:empty:before {
  content: "Text";
  color: var(--placeholdercolor);
  pointer-events: none;
}
.draft-footer-text{
  margin-top: 8px;
  font-size: 12px;
  color: var(--sidenavheadertextcolor);
  display: inline-block;
}