@keyframes fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

::selection {
  background: var(--selection);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  background-position: center;
  text-align: left;
  font-family: Helvetica;
  background-repeat: no-repeat;
}

input::placeholder {
  color: var(--bg5);
}

@font-face {
  font-family: "consolasfont";
  src: url("../../assets/fonts/consolas.ttf");
}

input {
  outline: none;
}

select {
  outline: none;
}

/* contenteditable areas */
*[contenteditable="true"] {
  outline: none;
}

*[contenteditable="true"]:empty:before {
  content: "...";
  pointer-events: none;
}

/* links */
a {
  color: var(--green);
}

/* scrollbars */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg3);
  border-radius: 8px;
  transition: 100ms;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg4);
}

*::-webkit-scrollbar-track {
  background-color: var(--bg1);
}

body {
  background-color: var(--bg2);
  transition: background-color 100ms;

}

#content {
  padding: calc(var(--filecontentmargintop) + var(--menubarheight)) var(--filecontentmargin) 0 calc( var(--filecontentmargin) - var(--gutterwidth) - 8px);
  margin-left: var(--sidenavwidth);
  display: flex;
  transition: background-color 100ms;
  justify-content: center;
}

#appstate.activefile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
}

#error {
  height: 100%;
  color: var(--filenametextcolor);
  font-weight: bold;
  font-size: 18px;
  margin-top: 10vw;
  width: 100%;
  justify-content: center;
  display: none;
  align-items: center;
}

/* range sliders */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--placeholdercolor);
  border-radius: 8px;
  height: 8px;
  transition: 100ms;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -2px;
  background-color: var(--green);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}