#sidenav {
  position: fixed;
  height: 100%;
  background-color: var(--bg1);
  font-size: 0;
  padding: var(--menubarheight) 12px 0 12px;
  overflow-x: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  display: flex;
  transition: 100ms;
  width: calc(var(--sidenavwidth) - 24px);
}
#sidenav .header {
  color: var(--text2);
}

#sidenav #filebtns .sidenavbtn {
  width: 100%;
  margin: 0;
  background-size: auto 16px;
  background-color: var(--bg1);
  border-radius: 6px;
  font-size: 16px;
}

#sidenav #filebtns .sidenavbtn.file.active {
  background-color: var(--green);
  color: var(--textwhite);
  background-image: url("../../assets/icons/navbars//dot1.svg");
}

#sidenav #filebtns .sidenavbtn.file.locked {
  background-image: url("../../assets/icons/navbars/dot.svg"),url("../../assets/icons/navbars/lock_small.svg");
  background-position: 1px 2px, calc(100% - 4px) 2px;


}
#sidenav #filebtns .sidenavbtn.file.locked.active {
  background-image: url("../../assets/icons/navbars/dot1.svg"),url("../../assets/icons/navbars/lock_small1.svg");
}



#sidenav #filebtns .folderbtn {
  display: flex;
  width: 100%;
  margin: 0;
  background-size: auto 16px;
  background-color: var(--bg1);
  font-size: 16px;
  margin: 8px 0 2px 0;
}

#sidenav #filebtns .folderbtn .folder {
  padding-left: 18px;
  font-size: 16px;
  background-position: 0 1px; 
  flex-grow: 1;
  background-color: var(--bg1);
  color: var(--text3);
}

#sidenav #filebtns .folderbtn .newfile {
  background-color: transparent;
  background-image: url("../../assets/icons/navbars/plus.svg");
  background-position: 0px 0px;
  background-size: contain;
  width: 18px;
  display: none;
}
#sidenav #filebtns .folderbtn .newfile:hover {
  background-color: var(--bg2);
  border-radius: 4px;
}


#sidenav #filebtns .folderbtn:hover .newfile {
  display: inline-block;
}

#sidenav #filebtns .folderbtn .folder.down {
  background-image: url("../../assets/icons/navbars/caretDown.svg");
}

#sidenav #filebtns .folderbtn .folder.right {
  background-image: url("../../assets/icons/navbars/caretRight.svg");
}

#sidenav #filebtns .sidenavbtn.file {
  background-image: url("../../assets/icons/navbars/dot.svg");
  background-position: 1px 2px;
  width: 100%;
  padding: 2px 0 2px 18px;
  color: var(--text2);
  font-size: 14px;
}

#sidenav #filebtns .sidenavbtn.newfolder {
  background-image: url("../../assets/icons/navbars/plus.svg");
  background-position: 0px -1px;
  padding-left: 18px;
  margin-top: 12px;
  font-size: 12px;
  color: var(--text2);
}

#menubar {
  border-bottom: 2px solid var(--bg1);
  width: 100vw;
  -webkit-app-region: drag;
  background-color: var(--bg2);
  height: var(--menubarheight);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  color: var(--text2);
}

#menubar div {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
}

#menubar button {
  margin: 0;
  min-width: calc(var(--menubarheight) - 4px);
  border-radius: 4px;
  padding: 0 8px;
  height: calc(var(--menubarheight) - 8px);
  text-align: center;
  white-space: nowrap;
  background-size: 20px 20px;
  background-color: transparent;
  transition: 100ms;
  color: var(--text2);
}

#menubar p, #menubar button {
  -webkit-app-region: no-drag;
  font-size: 12px;
}

#menubar button:hover {
  background-color: var(--bg3);
}

#menubar button:active {
  background-color: var(--bg4);
}

#menubar #osbtns {
  margin-right: 6px;
}

#menubar #fileactions {
  margin-left: auto;
}

#menubar #fileactions button {
  background-size: 14px 14px;

}

#menubar #path {
  margin-left: calc(var(--sidenavwidth) + 8px);
  font-size: 0;
}
#menubar #path .path.folder:empty:before {
  color: var(--text1);
  content: "Untitled Folder";
  pointer-events: none;
}


#menubar #path .path.file:empty:before {
  color: var(--text1);
  content: "Untitled File";
  pointer-events: none;
}

#menubar #path .path.slash {
  font-size: 18px;
  margin: 0 4px 0 4px;
  color: var(--text1);
}

#menubar #lastedited {
  justify-content: center;
  flex-grow: 1;
}
