#sidenav {
  position: fixed;
  height: 100%;
  background-color: var(--bg1);
  font-size: 0;
  padding: var(--menubarheight) 12px 0 12px;
  overflow-x: hidden;
  flex-shrink: 0;
  transition: background-color 100ms;
  flex-grow: 0;
  z-index: 2;
  flex-direction: column;
  display: flex;
  width: calc(var(--sidenavwidth) - 24px);
}
#sidenav .header {
  color: var(--sidenavheadertextcolor);
  margin-bottom: 2px;
  user-select: none;
  letter-spacing: 0.4px;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
}

#sidenav #filebtns .sidenavbtn.file.locked {
  background-image: url("../../assets/icons/navbars/dot.svg"), url("../../assets/icons/navbars/lock_small.svg");
  background-position: 1px 2px, calc(100% - 4px) 2px;
}
#sidenav #filebtns .sidenavbtn.file.locked.active {
  background-image: url("../../assets/icons/navbars/dot1.svg"), url("../../assets/icons/navbars/lock_small1.svg");
}

#sidenav #settingsbtn {
  font-size: 13.3px;
  width: 100%;
  background-color: transparent;
  transition: background-color 100ms;
  border-radius: 6px;
  padding: 3px 4px 3px 20px;
  color: var(--sidenavfilebtntextcolor);
  margin-bottom: 16px;
  text-align: left;
  background-image: url("../../assets/icons/settings.svg");
  background-position: 2px 1px;
  background-size: 15px 15px;
  user-select: none;
}

#sidenav #settingsbtn:hover {
  background-color: var(--bg2);
}

#sidenav #filebtns {
  display: flex;
  flex-wrap: wrap;
}

#sidenav #filebtns .filebtndiv {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background-color: transparent;
  transition: 100ms;
  user-select: none;
  min-width: 0;
  border-radius: 6px;
  padding: 3px 1px 3px 1px;
}

#sidenav #filebtns .filebtndiv:hover {
  background-color: var(--bg2);
}

#sidenav #filebtns .filebtndiv .filebtn {
  background-color: transparent;
  flex-grow: 1;
  user-select: none;
  text-overflow: ellipsis;
  color: var(--sidenavfilebtntextcolor);
  background-position: 0 1px;
  white-space: nowrap;
  background-size: 13px 13px;
  text-align: left;
  overflow: hidden;
}

#sidenav #filebtns .filebtndiv .collapsebtn {
  width: 16px;
  flex-shrink: 0;
  margin-right: 2px;
  background-size: cover;
  background-color: transparent;
}

[theme="light"] #sidenav #filebtns .filebtndiv .collapsebtn.right {
  background-image: url("../../assets/icons/sidenav/caret_right_l.svg");
}

[theme="light"] #sidenav #filebtns .filebtndiv .collapsebtn.down {
  background-image: url("../../assets/icons/sidenav/caret_down_l.svg");
}

[theme="dark"] #sidenav #filebtns .filebtndiv .collapsebtn.right {
  background-image: url("../../assets/icons/sidenav/caret_right_d.svg");
}

[theme="dark"] #sidenav #filebtns .filebtndiv .collapsebtn.down {
  background-image: url("../../assets/icons/sidenav/caret_down_d.svg");
}

#sidenav #filebtns .filebtndiv .collapsebtn.off {
  opacity: 0;
}

#sidenav #filebtns .childfiles {
  background-color: transparent;
  display: flex;
  margin-bottom: 4px;
  flex-wrap: wrap;
  width: 100%;
}


#sidenav #newrootfile {
  width: 16px;
  float: right;
  border-radius: 4px;
  height: 16px;
  background-color: transparent;
  background-size: contain;
}

#sidenav #newrootfile:hover {
  background-color: var(--bg2);
}

[theme="light"] #sidenav #newrootfile {
  background-image: url("../../assets/icons/sidenav/plus_l.svg");
}

[theme="dark"] #sidenav #newrootfile {
  background-image: url("../../assets/icons/sidenav/plus_d.svg");
}

#sidenav #filebtns .filebtndiv .newfilebtn {
  width: 16px;
  background-size: cover;
  margin-left: 1px;
  margin-right: 2px;
  visibility: hidden;
  border-radius: 6px;
  background-color: transparent;
  background-image: url("../../assets/icons/navbars/plus.svg");
}

[theme="light"] #sidenav #filebtns .filebtndiv .newfilebtn {
  background-image: url("../../assets/icons/sidenav/plus_l.svg");
}

[theme="dark"] #sidenav #filebtns .filebtndiv .newfilebtn {
  background-image: url("../../assets/icons/sidenav/plus_d.svg");
}

#sidenav #filebtns .filebtndiv:hover .newfilebtn {
  visibility: visible;
}

#sidenav #filebtns .filebtndiv .newfilebtn:hover {
  background-color: var(--bg3);
}

#sidenav #filebtns .filebtndiv.active .newfilebtn:hover {
  background-color: var(--green);
}

#menubar {
  width: 100vw;
  -webkit-app-region: drag;
  background-color: var(--bg2);
  position: fixed;
  transition: background-color 100ms;
  height: var(--menubarheight);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#menubar div {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
}

#menubar button {
  margin: 0;
  min-width: calc(var(--menubarheight) - 4px);
  border-radius: 4px;
  padding: 0 8px;
  height: calc(var(--menubarheight) - 8px);
  text-align: center;
  white-space: nowrap;
  background-size: 20px 20px;
  background-color: transparent;
  transition: 100ms;
}

#menubar p,
#menubar button {
  -webkit-app-region: no-drag;
  font-size: 12px;
  color: var(--menubartextcolor);
}

#menubar button:hover {
  background-color: var(--bg4);
}

#menubar #winbtns {
  display: none;
  margin-right: 6px;
}

#menubar #fileactions {
  margin-left: auto;
}

#menubar button {
  background-size: 14px 14px;
}

#menubar #leftbtns {
  padding-left: 6px;
  margin-right: 8px;
  margin-left: calc(var(--sidenavwidth));
}

#menubar #path {
  font-size: 0;
}

#menubar #path .pathbtn {
  border-radius: 3px;
  text-align: left;
  padding: 0;
  background-position: 0 9px;
  background-size: 12px 12px;
  height: 100%;
  background-color: transparent;
}

#menubar #path .pathbtn:hover {
  text-decoration: underline;
}

#menubar #path .slash {
  font-size: 18px;
  margin: 0 4px 0 4px;
  color: var(--placeholdercolor);
}

#menubar #lastedited {
  flex-grow: 1;
  justify-content: center;
}
[theme="dark"] #menubar #togglesidenavbtn {
  background-image: url("../../assets/icons/menubar/sidenav_d.svg");
}
[theme="light"] #menubar #togglesidenavbtn {
  background-image: url("../../assets/icons/menubar/sidenav_l.svg");
  }
