:root {
  --bg1: #0e0f11;
  --bg2: #131519;
  --bg3: #181b1f;
  --bg4: #1e2023;
  --bg5: #232528;
  --text1: #696b74;
  --text2: #555860;
  --text3: #46484f;
  --text4: #3a3c40;
  --text5: #303236;
  --green: #009966;
  --selectionGreen: #0099662f;
  --greentransparent: #0099661a;
  --yellow: #efba56;
  --yellowtransparent: #efba561a;
  --blue: #4a73db;
  --bluetransparent: #4a73db1a;
  --red: #bf2d4b;
  --redtransparent: #bf2d4b1a;
  --sidenavwidth: 164px;
  --menubarheight: 20px;
}
