:root {
  --bg1: #f1f1f1;
  --bg2: #fafafa;
  --bg3: #ffffff;
  --bg1: #131519;
  --bg2: #181b1f;
  --bg3: #1e2023;
  --bg4: #232528;
  --text1: #303030;
  --text2: #404040;
  --text3: #4f4f4f;
  --text4: #5f5f5f;
  --text5: #6f6f6f;
  --text6: #7f7f7f;
  --textwhite: #cecece;
  --green: #009966;
  --selectionGreen: #0099662f;
  --greentransparent: #0099661a;
  --yellow: #efba56;
  --yellowtransparent: #efba561a;
  --blue: #4a73db;
  --bluetransparent: #4a73db1a;
  --red: #bf2d4b;
  --redtransparent: #bf2d4b1a;
  --sidenavwidth: 180px;
  --menubarheight: 32px;
  --gutterwidth: 28px;
}
