

@keyframes fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes flash {
  0% {
    background-color: var(--bg3);
  }

  20% {
    background-color: var(--bg4);
  }

  100% {
    background-color: var(--bg3);
  }
}

::selection {
  background: var(--selectionGreen);
}

video,
audio,
img {
  image-rendering: pixelated;
  color: #535663;
}

* {
  margin: 0;
  padding: 0 0;
  border: none;
  font-family: Helvetica;
  background-repeat: no-repeat;
}

body {
  background-color: var(--bg2);
}

#app {
  display: none;
}

input::placeholder {
  color: #32343f;
}

input {
  outline: none;
}

select {
  outline: none;
}

/* contenteditable areas */
*[contenteditable="true"] {
  outline: none;
}

*[contenteditable="true"]:empty:before {
  content: "...";
  pointer-events: none;
  color: #2d303c;
}

/* range sliders */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--green);
  border-radius: 8px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -2px;
  background-color: #d5d5d5;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

/* links */
a {
  color: var(--green);
}

/* scrollbars */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg1);
  border-radius: 8px;
  background-clip: padding-box;
}

body::-webkit-scrollbar-track {
  background-color: var(--bg2)
}

#settingsBtn {
  font-size: 16px ;
  padding: 6px 8px 6px 31px;
  width: 100%;
  background-size: 20px 20px;
  background-position: 6px 5px;
  background-image: url("../assets/settings1.svg");
}

#settingsBtn.active {
  color: #dfdfdf;
  background-image: url("../assets/settings2.svg");
}

#newListBtn {
  background-color: var(--bg3);
  border-radius: 50%;
  width: 24px;
  font-size: 20px;
  transition: 100ms;
  user-select: none;
  height: 24px;
  color: #404351;
}

#newListBtn:hover {
  background-color: var(--bg4);
  color: #4f5363;
}

#listType {
  background-color: var(--bg1);
  color: #404351;
  user-select: none;
  outline: none;
}

#listType:hover {
  color: #4f5363;
}

#info {
  position: fixed;
  text-align: center;
  margin-top: 32px;
  overflow: hidden;
  margin-left: calc((100vw / 2) - 8px);
  z-index: 99999;
}

.alert {
  padding: 6px 16px 8px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  width: auto;
  white-space: nowrap;
  color: #4f5363;
  background-color: var(--bg3);
  box-shadow: 0 1px 1px 0.3px var(--bg1);
}

.alert p {
  display: inline-block;
  margin-left: 4px;
}

.alert.error {
  border-left: 6px solid var(--red);
}

.alert.success {
  border-left: 6px solid var(--green);
}

.alert.normal {
  border-left: 6px solid var(--bg3);
}

.alert.warning {
  border-left: 6px solid var(--yellow);
}

.alert.info {
  border-left: 6px solid var(--blue);
}

.alert img {
  width: 18px;
  margin-right: 4px;
  height: 18px;
  transform: translateY(3px);
}

#toggleSideBtn {
  background-size: 20px 20px;
  background-image: url('../assets/sidebar.svg');
}

#toggleSideBtn:hover {
  background-color: var(--bg4);
  background-image: url('../assets/sidebar1.svg');
}