#sidenav {
  position: fixed;
  height: 100%;
  background-color: var(--bg1);
  padding: 0 12px 0 12px;
  overflow-x: hidden;
  transition: 100ms;
  flex-direction: column;
  z-index: 900;
  flex-wrap: nowrap;
  display: flex;
  width: calc(var(--sidebarWidth) - 24px);
}


#newListBtn {
  font-size: 16px;
  padding: 6px 8px 6px 31px;
  width: 100%;
  background-size: 20px 20px;
  background-position: 6px 5px;
  background-image: url("../assets/plus2.svg");
  text-align: left;
  transition: 100ms;
  user-select: none;
  border-radius: 6px;
  color: #dfdfdf;
  margin-top: 8px;
  background-color: var(--green);
}


#settingsBtn {
  font-size: 16px;
  padding: 6px 8px 6px 31px;
  width: 100%;
  background-size: 20px 20px;
  background-position: 6px 5px;
  background-image: url("../assets/settings1.svg");
}

#sidenav #otherBtns {
  margin-top: 16px;
  border-top: 2px solid var(--bg3);
  padding-top: 16px;
}

#settingsBtn.active {
  color: #dfdfdf;
  background-image: url("../assets/settings2.svg");
}

.sidenavBtn {
  display: block;
  background-color: var(--bg1);
  text-align: left;
  margin-top: 2px;
  transition: 100ms;
  color: var(--text1);
  width: calc(100% - 16px);
  padding: 8px 8px;
  user-select: none;
  background-size: 16px 16px;
  border-radius: 6px;
 /* background-position: calc(var(--sidebarWidth) - 48px) 8px;*/
  background-position: 94% 7px;
  font-size: 14px;
}

.sidenavBtn p {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 20px);
}

/* block */
.sidenavBtn.block {
  background-image: url("../assets/listIcons/blockList.svg");
}

.sidenavBtn.block.active {
  background-image: url("../assets/listIcons/blockList1.svg");
}

/* checklist */
.sidenavBtn.checklist {
  background-image: url("../assets/listIcons/checklistList.svg");
}

.sidenavBtn.checklist.active {
  background-image: url("../assets/listIcons/checklistList1.svg");
}

/* text */
.sidenavBtn.text {
  background-image: url("../assets/listIcons/textList.svg");
}

.sidenavBtn.text.active {
  background-image: url("../assets/listIcons/textList1.svg");
}

/* accounts */
.sidenavBtn.accounts {
  background-image: url("../assets/listIcons/accountsList.svg");
}

.sidenavBtn.accounts.active {
  background-image: url("../assets/listIcons/accountsList1.svg");
}

/* locked */
.sidenavBtn.locked {
  background-image: url("../assets/lock.svg");
}

.sidenavBtn.locked.active {
  background-image: url("../assets/lock1.svg");
}

/* unlocked */
.sidenavBtn.unlocked.active {
  background-image: url("../assets/unlock1.svg");
}

/* others */
.sidenavBtn.active {
  background-color: var(--green);
}

.sidenavBtn.active:hover {
  background-color: var(--green);
}

.sidenavBtn:hover {
  background-color: var(--bg2);
}

.sidenavBtn.active .title {
  color: #dfdfdf;
}

.sidenavBtn.active .date {
  color: #d0d0d0;
}

.sidenavBtn .date {
  font-size: 11px;
  color: var(--text3);
}

#sidenav .header {
  font-weight: bold;
  color: #404351;
  flex-grow: 0;
  user-select: none;
  display: block;
  margin: 0 0 0 8px;
  transform: translateY(2px);
  font-size: 12px;
}
