:root {
  --bg1: #171921;
  --bg2: #1B1D26;
  --bg3: #20222B;
  --bg4: #24262F;
  --bg5: #272933;
  --green: #009966;
  --selectionGreen: #64a684;
  --yellow: #f0be61;
  --blue: #4a73db;
  --red: #bf2d4b;
}

#lists {
  margin-left: 12px;
  margin-top: 12px;
}

.deleteListBtn {
  float: right;
  background-image: url("../assets/trashColor.svg");
}

.listSettingsDiv {
  margin-top: -8px;
}

.listSettingsDiv button {
  transform: translateY(4px);
  margin-left: 4px;
  width: 30px;
  height: 24px;
  background-color: var(--bg2);
  border-radius: 3px;
  background-size: 18px 18px;
  background-position: center;
  transition: background-color 100ms;
}

.listSettingsDiv button:hover {
  background-color: var(--bg4);
}

.listSettingsDiv div {
  float: right;
}

.deleteListBtn:hover {
  background-image: url("../assets/trash1.svg");
  background-color: var(--red) !important;
}

.newSublistBtn {
  background-size: 22px 22px !important;
  background-image: url("../assets/plus.svg");
}

.newSublistBtn:hover {
  background-image: url("../assets/plusColor.svg");
}

.listDiv {
  margin-right: 12px;
}

.mainListContent.block {
  margin-top: 4px;
}

.listTitle {
  transition: all 100ms, width 0ms;
  display: inline-block;
  color: #606472;
  width: calc(100vw - 160px - 54px);
  padding: 4px 4px;
  padding-left: 0;
  background-color: var(--bg2);
  border-radius: 3px;
  font-size: 24px;
  font-weight: 500;
}

.sublistDiv {
  margin-right: 12px;
  margin-bottom: 16px;
}

.sublistTitleDiv {
  margin-bottom: 2px;
  width: calc(100vw - 160px - 46px);
}

.sublistTitleDiv input {
  font-size: 12px;
  background-color: var(--bg2);
  transition: all 100ms, width 0ms;
  width: calc(100% - 80px);
  font-weight: bold;
  color: #404351;
}

.sublistTitleDiv button {
  width: 24px;
  height: 20px;
  background-color: var(--bg2);
  float: right;
  background-position: center;
  transform: translateY(-4px);
  border-radius: 3px;
  transition: 100ms;
  background-size: 16px 16px;
}

.newItemToTopBtn {
  background-image: url("../assets/plus.svg");
  background-size: 16px 16px;
  margin-right: 4px;
}

.newItemToTopBtn:hover {
  background-image: url("../assets/plus1.svg");
}

.delSublistBtn {
  background-image: url("../assets/trashColor.svg");
  background-size: 16px 16px;
  margin-left: 4px;
}

.delSublistBtn:hover {
  background-color: var(--red);
  background-image: url("../assets/trash1.svg");
}

.collapseSublistBtn.up {
  background-image: url("../assets/arrowUp.svg");
}

.collapseSublistBtn.up:hover {
  background-image: url("../assets/arrowUp1.svg");
}

.collapseSublistBtn.down {
  background-image: url("../assets/arrowDown.svg");
}

.collapseSublistBtn.down:hover {
  background-image: url("../assets/arrowDown1.svg");
  background-color: var(--bg3);
}

.item {
  padding: 10px 10px 2px 8px;
  background-color: var(--bg3);
  margin-bottom: 6px;
  width: calc((100vw - 160px - 70px));
  border-radius: 4px;
  transition: all 100ms, padding 0ms, width 0ms;
}

.item .title {
  color: #4f5363;
  font-size: 16px;
  display: inline-block;
  background-color: var(--bg3);
  width: calc(100% - 48px);
  transition: 100ms;
  transform: translateY(-4px);
}

.moreBtn {
  width: 24px;
  height: 24px;
  background-color: var(--bg3);
  float: right;
  background-size: 20px 20px;
  background-position: center;
  transform: translateY(-7px) translateX(6px);
  background-image: url("../assets/settings.svg");
}

.moreBtn:hover {
  background-image: url("../assets/settings1.svg");
}

.itemSettingsDiv {
  width: calc(100% + 18px);
  margin-top: 4px;
  padding-top: 4px;
  margin-left: -8px;
  border-top: 2px solid var(--bg3);
}

.itemSettingsDiv button {
  background-size: 20px 20px;
  background-color: var(--bg3);
  background-position: center;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: 100ms;
}

.itemSettingsDiv button:hover {
  background-color: var(--bg5);
}

.addDescBtn {
  background-image: url("../assets/text.svg");
}

.addDescBtn:hover {
  background-image: url("../assets/textColor.svg");
}

.setStarredBtn {
  background-image: url("../assets/star.svg");
  background-size: 18px 18px !important;
}

.setStarredBtn.active {
  background-image: url("../assets/starColorFilled.svg");
}

.setStarredBtn:hover {
  background-image: url("../assets/starColor.svg");
}

.addLinkBtn {
  background-image: url("../assets/link.svg");
}

.addLinkBtn:hover {
  background-image: url("../assets/linkColor.svg");
}

.addLinkInput {
  background-color: var(--bg3);
  margin-bottom: 4px;
  color: var(--blue);
  margin-left: 8px;
  border-radius: 3px;
  padding: 4px 8px;
}

.deleteItemBtn {
  margin: 0 !important;
  transform: translateX(4px);
  background-image: url("../assets/trashColor.svg");
}

.deleteItemBtn:hover {
  background-image: url("../assets/trash1.svg");
  background-color: var(--red) !important;
}

.itemMedia {
  width: 100%;
  border-radius: 5px;
  margin-top: 6px;
  image-rendering: pixelated;
}

.uploadMediaBtn {
  background-image: url("../assets/upload.svg");
  margin-left: 4px;
}

.uploadMediaBtn:hover {
  background-image: url("../assets/uploadColor.svg");
}

.delMediaBtn {
  background-image: url("../assets/trash.svg");
}

.delMediaBtn:hover {
  background-image: url("../assets/trashColor.svg");
}

.item .description {
  font-size: 14px;
  color: #404351;
  background-color: var(--bg3);
  transition: 100ms;
  line-height: 14px;
  width: auto;
  margin: 0 0 4px 0;
  border-left: 2px solid var(--bg5);
  padding: 0 4px 2px 8px;
}

.creationDateText {
  color: #2d303c;
  font-size: 12px;
  display: inline-block;
  user-select: none;
  margin-left: 8px;
  transform: translateY(-8px);
}

.colorBtn {
  height: 16px !important;
  width: 16px !important;
  transform: translateY(-6px);
  border-radius: 20px !important;
  transition: 100ms;
  border: 2px solid #00000000;
}

.colorBtn.c0 {
  border-color: var(--blue);
}

.colorBtn.c1 {
  border-color: var(--red);
}

.colorBtn.c2 {
  border-color: var(--yellow);
}

.colorBtn.c3 {
  border-color: var(--green);
}

.colorBtn.c0:hover,
.colorBtn.c0.active {
  background-color: var(--blue);
}

.colorBtn.c1:hover,
.colorBtn.c1.active {
  background-color: var(--red);
}

.colorBtn.c2:hover,
.colorBtn.c2.active {
  background-color: var(--yellow);
}

.colorBtn.c3:hover,
.colorBtn.c3.active {
  background-color: var(--green);
}

.item.s0 {
  border-left: 6px solid var(--blue);
}

.item.s1 {
  border-left: 6px solid var(--red);
}

.item.s2 {
  border-left: 6px solid var(--yellow);
}

.item.s3 {
  border-left: 6px solid var(--green);
}

.item.s0.starred {
  border: 1px solid var(--blue);
  border-left: 6px solid var(--blue);
  width: calc((100vw - 160px - 71px));
}

.item.s1.starred {
  border: 1px solid var(--red);
  border-left: 6px solid var(--red);
  width: calc((100vw - 160px - 71px));
}

.item.s2.starred {
  border: 1px solid var(--yellow);
  border-left: 6px solid var(--yellow);
  width: calc((100vw - 160px - 71px));
}

.item.s3.starred {
  border: 1px solid var(--green);
  border-left: 6px solid var(--green);
  width: calc((100vw - 160px - 71px));
}

body::-webkit-scrollbar {
  /* hide scrollbar */
  display: none;
}

#menuBar {
  height: 20px;
  width: calc(100vw - 180px);
  margin-left: 180px;
  background-color: var(--bg1);
  position: fixed;
  -webkit-app-region: drag;
  transition: all 100ms width 0ms;
  z-index: 99;
}

#menuBar button {
  -webkit-app-region: no-drag;
  background-color: var(--bg1);
  width: 20px;
  height: 20px;
  background-position: center;
  transition: 100ms;
}

#closeBtn {
  background-size: 20px 20px;
  float: right;
  background-image: url("../assets/close.svg");
}

#closeBtn:hover {
  background-color: var(--red);
  background-image: url("../assets/close2.svg");
}

#minimizeBtn {
  background-size: 20px 20px;
  float: right;
  background-image: url("../assets/minimize.svg");
}

#minimizeBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/minimize1.svg");
}


.tooltip {
  position: absolute;
  font-size: 12px;
  color: #8c8c8c;
  background-color: var(--bg3);
  white-space: nowrap;
  user-select: none;
  display: none;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1000;
}

.itemSettingsDiv div {
  display: inline-block;
}

.openMediaFolderBtn {
  background-image: url("../assets/folder.svg");
}

.openMediaFolderBtn:hover {
  background-image: url("../assets/folderColor.svg");
}

.duplicateItemBtn {
  background-image: url("../assets/duplicate.svg");
}

.duplicateItemBtn:hover {
  background-image: url("../assets/duplicateColor.svg");
}

#settings {
  background-color: var(--bg2);
  margin: 20px 12px 0 12px;
  border-radius: 4px;
}

#settings p {
  margin: 0;
  margin-top: 8px;
  color: #404351;
  font-size: 14px;
}

#settings h1 {
  display: inline;
  font-size: 18px;
  color: #818491;
  font-weight: 1;
}

#settings h3 {
  font-size: 16px;
  font-weight: 1;
  color: #6a6d7a;
  display: inline-block;
}

.settingsDiv {
  margin-bottom: 8px;
  margin-top: 6px;
  padding: 12px 12px;
  background-color: var(--bg3);
  border-radius: 4px;
}

.switch {
  float: right;
  transform: translateY(-3px) translateX(2px);
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg5);
  transition: 200ms;
}

.slider:before {
  position: absolute;
  height: 19px;
  width: 19px;
  content: "";
  left: 3px;
  bottom: 3px;
  background-color: #606472;
  transition: 400ms;
}

input:checked+.slider {
  background-color: var(--green);
}

input:checked+.slider:before {
  background-color: #d5d5d5;
}

input:checked+.slider:before {
  transform: translateX(17px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

a {
  color: var(--blue);
  font-size: 14px;
}

.openLinkBtn {
  float: none;
  background-size: 100%;
  background-color: var(--bg3);
  background-image: url("../assets/linkColor.svg");
  width: 20px;
  display: inline;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 20px;
  margin-right: -1px;
  transform: translateY(6px) translateX(1px);
}

#openResourcesFolderBtn {
  border-radius: 3px;
  float: right;
  width: 26px;
  height: 26px;
  background-color: var(--bg3);
  background-size: 20px 20px;
  transition: 100ms;
  transform: translateY(-3px);
  background-position: center;
  background-image: url("../assets/folder.svg");
}

#openResourcesFolderBtn:hover {
  background-color: var(--bg5);
  background-image: url("../assets/folder1.svg");
}

.mainListContent.text {
  background-color: var(--bg2);
  margin: 0;
  padding-bottom: 2px;
  border-radius: 4px;
}

.mainListContent.text .block.text {
  font-size: 14px;
  margin-bottom: 4px;
}

.mainListContent.text .block.text .text {
  overflow-x: auto;
  color: #6a6d7a;
  background-color: var(--bg2);
}

.mainListContent.text .block.code {
  margin-bottom: 8px;
  color: #404351;
  font-size: 14px;
}

.mainListContent.text button {
  background-size: 20px 20px;
  background-color: var(--bg2);
  background-position: center;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: 100ms;
}

.mainListContent.text button:hover {
  background-color: var(--bg3);
}

.newCodeBlockBtn {
  background-image: url("../assets/code.svg");
}

.newCodeBlockBtn:hover {
  background-image: url("../assets/codeColor.svg");
}

.copyBtn {
  background-color: transparent !important;
  transition: 100ms;
  margin-right: 0 !important;
  background-image: url("../assets/copy.svg");
}

.copyBtnDiv {
  position: absolute;
  transform: translateX(-48px) translateY(3px);
  right: 0;
}

.copyBtn:hover {
  background-image: url("../assets/copy1.svg");
}

.delBlockBtn {
  margin: 0 !important;
  background-color: var(--bg2) !important;
  background-image: url("../assets/trash.svg");
}

.delBlockBtn:hover {
  background-color: var(--bg3) !important;
  background-image: url("../assets/trashColor.svg");
}

.mainListContent.text .block.code .text {
  padding: 8px 10px;
  border-radius: 3px;
  white-space: nowrap;
  background-color: var(--bg3);
  font-family: Consolas !important;
  overflow-x: auto;
}

.mainListContent.text .block.code .text div {
  /* ? new lines are inside of divs for some reason */
  font-family: Consolas !important;
}

.blockSettingsDiv {
  float: right;
  margin-left: 12px;
}

#side {
  position: fixed;
  height: 100%;
  background-color: var(--bg1);
  padding: 8px;
  z-index: 900;
  width: 164px;
}

#content {
  margin-left: 180px;
}

.sideListBtn {
  display: block;
  background-color: var(--bg1);
  text-align: left;
  margin-top: 2px;
  transition: 100ms;
  color: #6a6d7a;
  width: calc(100% - 16px);
  padding: 8px 8px;
  user-select: none;
  background-size: 18px 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  background-position: 138px 10px;
  font-size: 14px;
}

/* block */
.sideListBtn.block {
  background-image: url("../assets/listIcons/blockList.svg");
}

.sideListBtn.block.active {
  background-image: url("../assets/listIcons/blockList1.svg");
}

/* block & unlocked */
.sideListBtn.block.unlocked.active {
  background-image: url("../assets/unlock1.svg"),
    url("../assets/listIcons/blockList1.svg");
  background-position: 114px 10px, 138px 10px;
}

/* text */
.sideListBtn.text {
  background-image: url("../assets/listIcons/textList.svg");
}

.sideListBtn.text.active {
  background-image: url("../assets/listIcons/textList1.svg");
}

/* text & unlocked */
.sideListBtn.text.unlocked.active {
  background-image: url("../assets/unlock1.svg"),
    url("../assets/listIcons/textList1.svg");
  background-position: 116px 6px, 140px 6px;
}

/* locked */
.sideListBtn.locked {
  background-image: url("../assets/lock.svg");
}

.sideListBtn.locked.active {
  background-image: url("../assets/lock1.svg");
}

.sideListBtn.active {
  background-color: var(--green);
}

.sideListBtn.active:hover {
  background-color: var(--green);
}

.sideListBtn:hover {
  background-color: var(--bg2);
}

.sideListBtn.active .title {
  color: #dfdfdf;
}

.sideListBtn.active .date {
  color: #d0d0d0;
}

.sideListBtn .date {
  font-size: 11px;
  color: #404351;
}

.listDate {
  color: #2d303c;
  font-size: 12px;
  user-select: none;
  display: inline-block;
  margin-top: 8px;
}

.pswdInput {
  background-color: var(--bg3);
  transition: 100ms;
  padding: 2px 12px;
  height: 20px;
  border-radius: 24px;
  color: #606472;
}

.pswdSubmit {
  background-color: var(--bg3);
  width: 24px;
  transform: translateY(8px);
  transition: 100ms;
  height: 24px;
  border-radius: 50%;
  background-image: url("../assets/arrowRight.svg");
  background-position: center;
  background-size: 18px 18px;
  margin-left: 4px;
}

.pswdSubmit:hover {
  background-image: url("../assets/arrowRight1.svg");
  background-color: var(--bg3);
}

#noListSelected {
  text-align: center;
  margin-top: 30vh;
  user-select: none;
  color: var(--bg5);
  font-size: 32px;
}

.lockedDiv {
  text-align: center;
  margin-top: 30vh;
}

.pswdInput::placeholder {
  color: #404351;
}

.lockedTitle {
  color: #404351;
  user-select: none;
}

.lockListBtn {
  background-image: url("../assets/lock.svg");
}

.unlockListBtn {
  background-image: url("../assets/unlock.svg");
}

.lockListBtn:hover {
  background-image: url("../assets/lockColor.svg");
}

.unlockListBtn:hover {
  background-image: url("../assets/unlockColor.svg");
}

#settings #password {
  background-color: var(--bg3);
  color: #535663;
  transform: translateY(-1px);
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  padding: 4px 4px;
}

#homeBtn {
  font-size: 16px;
  padding: 4px 8px;
}

#settingsBtn {
  font-size: 16px;
  padding: 6px 8px;
  width: 100%;
  background-size: 20px 20px;
  background-position: 138px 5px;
  background-image: url("../assets/settings.svg");
}

#settingsBtn.active {
  color: #dfdfdf;
  background-image: url("../assets/settings2.svg");
}

#newListBtn {
  background-color: var(--bg3);
  border-radius: 50%;
  width: 24px;
  font-size: 20px;
  transition: 100ms;
  user-select: none;
  height: 24px;
  color: #404351;
}

#newListBtn:hover {
  background-color: var(--bg5);
  color: #4f5363;
}

#listType {
  background-color: var(--bg1);
  color: #404351;
  user-select: none;
  outline: none;
}

#listType:hover {
  color: #4f5363;
}

#info {
  position: absolute;
  text-align: center;
  margin-top: 32px;
  margin-left: calc((100vw / 2) - 8px);
  z-index: 99999;
}

.alert {
  padding: 6px 16px 8px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  width: auto;
  white-space: nowrap;
  color: #404351;
  background-color: var(--bg3);
}

.alert p {
  display: inline-block;
  margin-left: 4px;
}

.alert.error {
  border-left: 6px solid var(--red);
}

.alert.success {
  border-left: 6px solid var(--green);
}

.alert.normal {
  border-left: 6px solid var(--bg3);
}

.alert.warning {
  border-left: 6px solid var(--yellow);
}

.alert.info {
  border-left: 6px solid var(--blue);
}

.alert img {
  width: 18px;
  margin-right: 4px;
  height: 18px;
  transform: translateY(3px);
}

/* animations + global/unimportant elements & properties */
@keyframes fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes flash {
  0% {
    background-color: var(--bg3);
  }

  20% {
    background-color: var(--bg5);
  }

  100% {
    background-color: var(--bg3);
  }
}

::selection {
  background: var(--selectionGreen);
}

* {
  margin: 0;
  padding: 0 0;
  border: none;
  font-family: Helvetica;
  background-repeat: no-repeat;
}

body {
  background-color: var(--bg2);
}

#app {
  display: none;
}

input {
  outline: none;
}

*[contenteditable="true"] {
  outline: none;
}

*[contenteditable="true"]:empty:before {
  content: "...";
  pointer-events: none;
  color: #2d303c;
}