:root {
  --bg1: #171921;
  --bg2: #1b1d26;
  --bg3: #20222b;
  --bg4: #272933;
  --bg5: #32343f;
  --green: #009966;
  --selectionGreen: #64a684;
  --yellow: #f0be61;
  --blue: #4a73db;
  --red: #bf2d4b;
}

#lists {
  margin-left: 12px;
  margin-top: 12px;
}

.deleteListBtn {
  background-image: url("../assets/trashColor.svg");
}

.listSettingsDiv {
  display: inline-block;
  transform: translateY(-6px);
  width: 100%;
}

.listSettingsDiv button {
  transform: translateY(4px);
  margin-left: 4px;
  width: 30px;
  height: 24px;
  background-color: var(--bg2);
  border-radius: 3px;
  background-size: 18px 18px;
  transition: background-color 100ms;
}

.listSettingsDiv button:hover {
  background-color: var(--bg4);
}

.listSettingsDiv div {
  float: right;
}

.deleteListBtn:hover {
  background-image: url("../assets/trash1.svg");
  background-color: var(--red) !important;
}

.newBtn {
  background-size: 22px 22px !important;
  background-image: url("../assets/plus.svg");
}

.newBtn:hover {
  background-image: url("../assets/plusColor.svg");
}

.listDiv {
  margin-right: 12px;
}

.listTitle {
  transition: all 100ms, width 0ms;
  color: #606472;
  width: calc(100%);
  padding: 4px 4px;
  transform: translateY(-6px);
  padding-left: 0;
  background-color: var(--bg2);
  border-radius: 3px;
  font-size: 24px;
  font-weight: bold;
}

.listContent.accounts .listTitle {
  width: calc(100% - 240px);
}

.sublistDiv {
  margin-bottom: 16px;
}

.checklistSublistDiv {
  background-color: var(--bg3);
  padding: 8px 8px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0.3px var(--bg1);
}

.sublistTitleDiv {
  margin-bottom: 2px;
  width: calc(100%);
}

.sublistTitleDiv input {
  font-size: 12px;
  background-color: var(--bg2);
  transition: all 100ms, width 0ms;
  width: calc(100% - 80px);
  font-weight: bold;
  text-transform: uppercase;
  color: #404351;
}

.sublistTitleDiv button {
  width: 24px;
  height: 20px;
  background-color: var(--bg2);
  float: right;
  transform: translateY(-4px);
  border-radius: 3px;
  transition: 100ms;
  background-size: 16px 16px;
}

.newItemToTopBtn {
  background-image: url("../assets/plus.svg");
  background-size: 16px 16px;
  margin-left: 4px;
}

.blockItemCount {
  color: var(--bg5);
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  transform: translateY(-1px);
}

.newItemToTopBtn:hover {
  background-image: url("../assets/plus1.svg");
  background-color: var(--bg3);
}

.delSublistBtn {
  background-image: url("../assets/trashColor.svg");
  background-size: 16px 16px;
  margin-left: 4px;
}

.delSublistBtn:hover {
  background-color: var(--red);
  background-image: url("../assets/trash1.svg");
}

.collapseSublistBtn.up {
  background-image: url("../assets/arrowUp.svg");
}

.collapseSublistBtn.up:hover {
  background-color: var(--bg4);
  background-image: url("../assets/arrowUp1.svg");
}

.collapseSublistBtn.down {
  background-image: url("../assets/arrowDown.svg");
}

.collapseSublistBtn.down:hover {
  background-color: var(--bg4);
  background-image: url("../assets/arrowDown1.svg");
}

.checklistItem {
  width: calc((100%));
}

.checklistItem.true .checklistItemText {
  color: #3b3e4c;
}

.checklistItem.true.strikethrough .checklistItemText {
  color: #3b3e4c;
  text-decoration: line-through;
}

.checklistItem.false .checklistItemText {
  color: #4f5363;
  text-decoration: none;
}

.checklistItemText {
  font-size: 16px;
  display: inline-block;
  background-color: var(--bg3);
  width: calc(100% - 48px);
  transition: 200ms;
}

.checkBoxBtn {
  height: 16px;
  width: 16px;
  vertical-align: top;
  border-radius: 3px;
  margin-right: 6px;
  border: 2px solid var(--bg4);
  transition: background-color 100ms border 100ms;
  background-color: var(--bg3);
  transform: translateY(1px);
}

.checkBoxBtn.false:hover {
  border: 2px solid var(--bg5);
}

.checkBoxBtn.true {
  background-color: var(--green);
  border: 2px solid var(--green);
  background-image: url("../assets/check.svg");
}

.item {
  padding: 8px 10px 2px 8px;
  background-color: var(--bg3);
  margin-bottom: 6px;
  box-shadow: 0 1px 1px 0.3px var(--bg1);
  width: calc((100% - 18px));
  border-radius: 4px;
  transition: all 100ms, padding 0ms, width 0ms;
}

.item .title {
  color:#404351;
  font-size: 16px;
  display: inline-block;
  background-color: var(--bg3);
  width: calc(100% - 72px);
  transition: 100ms;
  margin-left: 4px;
  transform: translateY(-4px);
}

.moreBtn {
  width: 24px;
  height: 24px;
  background-color: var(--bg3);
  float: right;
  background-size: 20px 20px;
  transform: translateY(-4px) translateX(4px);
  background-image: url("../assets/settings.svg");
}

.moreBtn:hover {
  background-image: url("../assets/settings1.svg");
}

.itemSettingsDiv {
  width: calc(100%);
  margin-top: 4px;
  padding-top: 4px;
  border-top: 2px solid var(--bg4);
}

.itemSettingsDiv button {
  background-size: 20px 20px;
  background-color: var(--bg3);
  margin-right: 4px;
  width: 24px;
  height: 24px;
  float: right;
  border-radius: 3px;
  transition: 100ms;
}

.itemSettingsDiv button:hover {
  background-color: var(--bg4);
}

.addDescBtn {
  background-image: url("../assets/text.svg");
}

.addDescBtn:hover {
  background-image: url("../assets/textColor.svg");
}

.setStarredBtn {
  background-image: url("../assets/star.svg");
  background-size: 18px 18px !important;
}

.setStarredBtn.active {
  background-image: url("../assets/starColorFilled.svg");
}

.setStarredBtn:hover {
  background-image: url("../assets/starColor.svg");
}

.addLinkBtn {
  background-image: url("../assets/link.svg");
}

.addLinkBtn:hover {
  background-image: url("../assets/linkColor.svg");
}

.addLinkInput {
  background-color: var(--bg3);
  margin-bottom: 4px;
  color: var(--blue);
  margin-left: 8px;
  border-radius: 3px;
  padding: 4px 8px;
}

.deleteItemBtn {
  margin: 0 !important;
  transform: translateX(4px);
  background-image: url("../assets/trashColor.svg");
}

.deleteItemBtn:hover {
  background-image: url("../assets/trash1.svg");
  background-color: var(--red) !important;
}

.itemMedia {
  border-radius: 5px;
  margin-top: 6px;
  font-size: 14px;
}

.uploadMediaBtn {
  background-image: url("../assets/upload.svg");
  margin-left: 4px;
}

.uploadMediaBtn:hover {
  background-image: url("../assets/uploadColor.svg");
}

.delMediaBtn {
  background-image: url("../assets/trash.svg");
}

.delMediaBtn:hover {
  background-image: url("../assets/trashColor.svg");
}

.creationDateText {
  color: #2d303c;
  font-size: 12px;
  display: inline-block;
  user-select: none;
  margin-left: 8px;
  transform: translateY(-8px);
}

.statusBtn {
  height: 18px;
  width: 18px;
  transform: translateY(-1px);
  transition: 100ms;
}

.statusBtn.s0 {
  background-image: url("../assets/circleIcons/circlePause.svg");
}

.statusBtn.s1 {
  background-image: url("../assets/circleIcons/circleX.svg");
}

.statusBtn.s2 {
  background-image: url("../assets/circleIcons/circleQuestion.svg");
}

.statusBtn.s3 {
  background-image: url("../assets/circleIcons/circleCheck.svg");
}

.item.starred {
  width: calc((100% - 25px));
}

.item.s0.starred {
  border: 1px solid var(--blue);
  border-left: 6px solid var(--blue);
}

.item.s1.starred {
  border: 1px solid var(--red);
  border-left: 6px solid var(--red);
}

.item.s2.starred {
  border: 1px solid var(--yellow);
  border-left: 6px solid var(--yellow);
}

.item.s3.starred {
  border: 1px solid var(--green);
  border-left: 6px solid var(--green);
}

#menuBar {
  height: 20px;
  width: calc(100vw - 180px);
  margin-left: 180px;
  background-color: var(--bg1);
  position: fixed;
  -webkit-app-region: drag;
  transition: all 100ms width 0ms;
  z-index: 99;
}

#menuBar button {
  -webkit-app-region: no-drag;
  background-color: var(--bg1);
  width: 24px;
  height: 20px;
  transition: 100ms;
}

#closeBtn {
  margin-right: 8px;
  background-size: 20px 20px;
  float: right;
  background-image: url("../assets/close.svg");
}

#closeBtn:hover {
  background-color: var(--red);
  background-image: url("../assets/close1.svg");
}

#minimizeBtn {
  background-size: 20px 20px;
  float: right;
  background-image: url("../assets/minimize.svg");
}

#minimizeBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/minimize1.svg");
}

#maximizeBtn.true {
  background-size: 14px 14px;
  float: right;
  background-image: url("../assets/maximize.svg");
}

#maximizeBtn.true:hover {
  background-color: var(--bg4);
  background-image: url("../assets/maximize1.svg");
}

#maximizeBtn.false {
  background-size: 14px 14px;
  float: right;
  background-image: url("../assets/unmaximize.svg");
}

#maximizeBtn.false:hover {
  background-color: var(--bg4);
  background-image: url("../assets/unmaximize1.svg");
}

.tooltip {
  position: absolute;
  font-size: 12px;
  color: #8c8c8c;
  background-color: var(--bg4);
  white-space: nowrap;
  user-select: none;
  display: none;
  padding: 4px 8px;
  box-shadow: 0 1px 1px 0.3px var(--bg3);
  border-radius: 4px;
  z-index: 1000;
}

.itemSettingsDiv div {
  display: inline-block;
}

.openMediaFolderBtn {
  background-image: url("../assets/folder.svg");
}

.openMediaFolderBtn:hover {
  background-image: url("../assets/folderColor.svg");
}

.duplicateItemBtn {
  background-image: url("../assets/duplicate.svg");
}

.duplicateItemBtn:hover {
  background-image: url("../assets/duplicateColor.svg");
}

#settings {
  background-color: var(--bg2);
  margin: 8px 12px 0 12px;
  border-radius: 4px;
}

#settings h2 {
  color: #535663;
  margin-bottom: 4px;
}

#settings p {
  margin: 0;
  margin-top: 8px;
  color: #404351;
  font-size: 14px;
}

#settings h1 {
  display: inline;
  font-size: 12px;
  user-select: none;
  color: #404351;
  font-weight: bold;
}

#settings h3 {
  font-size: 16px;
  font-weight: 1;
  color: #6a6d7a;
  display: inline-block;
}

.settingsDiv {
  margin-bottom: 8px;
  padding: 12px 12px;
  box-shadow: 0 1px 1px 0.3px var(--bg1);
  background-color: var(--bg3);
  border-radius: 4px;
}

.settingsDiv .btn {
  padding: 4px 6px;
  border-radius: 6px;
  float: right;
  background-color: var(--bg3);
  transition: 100ms;
  margin-right: 8px;
  border: 2px solid var(--bg4);
}

.settingsDiv .btn.fatal {
  padding: 4px 12px;
  border-radius: 6px;
  float: right;
  background-color: var(--bg3);
  transition: 100ms;
  margin-right: 8px;
  color: var(--red);
  border: 1px solid var(--red);
}

.settingsDiv .btn.fatal:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: #d5d5d5;
}

.settingsDiv .btn:hover {
  border: 2px solid var(--green);
}

.settingsDiv .btn.active {
  border: 2px solid var(--green);
}

.switch {
  float: right;
  transform: translateY(-3px) translateX(2px);
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg5);
  transition: 250ms;
}

.slider:before {
  position: absolute;
  height: 19px;
  width: 19px;
  content: "";
  left: 3px;
  bottom: 3px;
  background-color: #606472;
  transition: 300ms;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  background-color: #d5d5d5;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.item a {
  color: var(--blue);
  font-size: 14px;
}

.openLinkBtn {
  float: none;
  background-size: 100%;
  background-color: var(--bg3);
  background-image: url("../assets/linkColor.svg");
  width: 20px;
  display: inline;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 20px;
  margin-right: -1px;
  transform: translateY(6px) translateX(1px);
}

#openResourcesFolderBtn {
  border-radius: 3px;
  float: right;
  width: 32px;
  height: 26px;
  background-color: var(--bg3);
  background-size: 20px 20px;
  transition: 100ms;
  transform: translateY(-3px);
  background-image: url("../assets/folder.svg");
}

#openResourcesFolderBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/folderColor.svg");
}

.mainListContent.text {
  background-color: var(--bg2);
  margin: 0;
  padding-bottom: 2px;
  border-radius: 4px;
}

.mainListContent {
  transform: translateY(-8px);
}

.mainListContent.text .block.text {
  font-size: 14px;
  margin-bottom: 4px;
}

.mainListContent.text .block.text .text {
  overflow-x: auto;
  color: #535663;
  background-color: var(--bg2);
}

.mainListContent.text .block.code {
  margin-bottom: 8px;
  color: #535663;
  font-size: 14px;
}

.mainListContent.text button {
  background-size: 20px 20px;
  background-color: var(--bg2);
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: 100ms;
}

.mainListContent.text button:hover {
  background-color: var(--bg3);
}

.newCodeBlockBtn {
  background-image: url("../assets/code.svg");
}

.newCodeBlockBtn:hover {
  background-image: url("../assets/codeColor.svg");
}

.copyBtn {
  background-color: transparent !important;
  transition: 100ms;
  margin-right: 0 !important;
  background-image: url("../assets/copy.svg");
}

.copyBtnDiv {
  position: absolute;
  transform: translateX(-48px) translateY(3px);
  right: 0;
}

.copyBtn:hover {
  background-image: url("../assets/copy1.svg");
}

.delBlockBtn {
  margin: 0 !important;
  background-color: var(--bg2) !important;
  background-image: url("../assets/trash.svg");
}

.delBlockBtn:hover {
  background-color: var(--bg3) !important;
  background-image: url("../assets/trashColor.svg");
}

.mainListContent.text .block.code .text {
  padding: 8px 10px;
  border-radius: 3px;
  white-space: nowrap;
  background-color: var(--bg3);
  font-family: Consolas !important;
  overflow-x: auto;
}

.mainListContent.text .block.code .text div {
  /* ? new lines are inside of divs for some reason */
  font-family: Consolas !important;
}

.blockSettingsDiv {
  float: right;
  margin-left: 12px;
}

#side {
  position: fixed;
  height: 100%;
  background-color: var(--bg1);
  padding: 8px;
  overflow-x: hidden;
  transition: 100ms;
  z-index: 900;
  width: 164px;
}

#content {
  margin-left: 180px;
  transition: 100ms;
}

.sideListBtn {
  display: block;
  background-color: var(--bg1);
  text-align: left;
  margin-top: 2px;
  transition: 100ms;
  color: #6a6d7a;
  width: calc(100% - 16px);
  padding: 8px 8px;
  user-select: none;
  background-size: 16px 16px;
  border-radius: 3px;
  background-position: 142px 8px;
  font-size: 14px;
}

.sideListBtn p {
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 20px);
}

/* block */
.sideListBtn.block {
  background-image: url("../assets/listIcons/blockList.svg");
}

.sideListBtn.block.active {
  background-image: url("../assets/listIcons/blockList1.svg");
}

/* checklist */
.sideListBtn.checklist {
  background-image: url("../assets/listIcons/checklistList.svg");
}

.sideListBtn.checklist.active {
  background-image: url("../assets/listIcons/checklistList1.svg");
}

/* text */
.sideListBtn.text {
  background-image: url("../assets/listIcons/textList.svg");
}

.sideListBtn.text.active {
  background-image: url("../assets/listIcons/textList1.svg");
}

/* accounts */
.sideListBtn.accounts {
  background-image: url("../assets/listIcons/accountsList.svg");
}

.sideListBtn.accounts.active {
  background-image: url("../assets/listIcons/accountsList1.svg");
}

/* locked */
.sideListBtn.locked {
  background-image: url("../assets/lock.svg");
}

.sideListBtn.locked.active {
  background-image: url("../assets/lock1.svg");
}

/* unlocked */
.sideListBtn.unlocked.active {
  background-image: url("../assets/unlock1.svg");
}

/* others */
.sideListBtn.active {
  background-color: var(--green);
}

.sideListBtn.active:hover {
  background-color: var(--green);
}

.sideListBtn:hover {
  background-color: var(--bg2);
}

.sideListBtn.active .title {
  color: #dfdfdf;
}

.sideListBtn.active .date {
  color: #d0d0d0;
}

.sideListBtn .date {
  font-size: 11px;
  color: #404351;
}

.listDate {
  color: #2d303c;
  font-size: 12px;
  user-select: none;
  display: inline-block;
}

.pswdInput {
  background-color: var(--bg3);
  transition: 100ms;
  padding: 2px 12px;
  height: 20px;
  border-radius: 24px;
  color: #606472;
}

.pswdSubmit {
  background-color: var(--bg3);
  width: 24px;
  transform: translateY(8px);
  transition: 100ms;
  height: 24px;
  border-radius: 50%;
  background-image: url("../assets/arrowRight.svg");
  background-size: 18px 18px;
  margin-left: 4px;
}

.pswdSubmit:hover {
  background-image: url("../assets/arrowRight1.svg");
  background-color: var(--bg4);
}

#noListSelected {
  text-align: center;
  margin-top: 30vh;
  user-select: none;
  color: var(--bg4);
  font-size: 32px;
}

.lockedDiv {
  text-align: center;
  margin-top: 30vh;
}

.touchidbtn {
  background-image: url("../assets/touchid.svg");
  background-color: var(--bg3);
  width: 24px;
  transform: translateY(8px);
  transition: 100ms;
  height: 24px;
  border-radius: 50%;
  background-size: 18px 18px;
  margin-right: 4px;
}

.touchidbtn:hover {
  background-color: var(--bg4);
}

.pswdInput::placeholder {
  color: #3b3e4c;
}

.lockedTitle {
  color: var(--bg5);
  user-select: none;
  font-size: 18px;
}

.lockListBtn {
  background-image: url("../assets/lock.svg");
}

.unlockListBtn {
  background-image: url("../assets/unlock.svg");
}

.lockListBtn:hover {
  background-image: url("../assets/lockColor.svg");
}

.unlockListBtn:hover {
  background-image: url("../assets/unlockColor.svg");
}

.accountDiv {
  padding: 8px 8px 4px 8px;
  background-color: var(--bg3);
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 1px 1px 0.3px var(--bg1);
  border-radius: 3px;
  margin-bottom: 12px;
  flex: 1 1 30%;
  width: auto;
  align-self: flex-start;
}

.accountSearchBox {
  background-color: var(--bg2);
  float: right;
  font-size: 16px;
  border-bottom: 2px solid var(--bg4);
  transition: 100ms;
  padding: 0 2px;
  color: #404351;
}

.accountSearchBox:focus {
  border-bottom: 2px solid var(--bg5);
}

.mainListContent.accounts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 12px;
}

.accountDiv p {
  color: #3b3e4c;
}

.accountDiv .accountTitle {
  color: #4f5363;
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 2px;
  vertical-align: top;
  display: inline-block;
}

.accountCount {
  color: #2d303c;
  text-align: center;
  font-size: 12px;
  margin-top: 16px;
  font-weight: bold;
}

.accountDiv .openAccountSettingsBtn {
  background-color: var(--bg3);
  width: 22px;
  float: right;
  background-image: url("../assets/penEdit.svg");
  height: 22px;
  transition: 100ms;
  border-radius: 3px;
  background-size: 20px 20px;
}

.accountDiv .openAccountSettingsBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/penEdit1.svg");
}

.accountDiv select {
  transform: translateY(-4px);
  background-color: var(--bg3);
}

.blur {
  filter: blur(4px);
  transition: filter 100ms;
}

.blur:hover,
.blur:focus {
  filter: none;
}

.accountDiv tr td .title {
  color: var(--bg5);
  text-transform: uppercase;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
}

.accountDiv .collapseAccountBtn.up {
  height: 20px;
  width: 20px;
  margin-left: 4px;
  background-image: url("../assets/arrowUp.svg");
}

.accountDiv .collapseAccountBtn.down {
  height: 20px;
  margin-left: 4px;
  width: 20px;
  background-image: url("../assets/arrowDown.svg");
}

.accountDiv .collapseAccountBtn.up:hover {
  background-image: url("../assets/arrowUp1.svg");
}

.accountDiv .collapseAccountBtn.down:hover {
  background-image: url("../assets/arrowDown1.svg");
}

.accountDiv tr td .text {
  color: #3b3e4c;
  transform: translateY(-2px);
}

.accountDiv img {
  height: 26px;
  width: 26px;
  transform: translateY(-3px);
  margin-right: 4px;
  background-size: 100%;
}

.accountDiv .accountSettingsDiv p {
  color: #3b3e4c;
  margin-bottom: 1px;
  font-size: 14px;
}

.accountDiv table tr td .deleteFieldBtn {
  background-image: url("../assets/close.svg");
  height: 10px;
  margin-left: 8px;
  width: 10px;
  transform: translateY(-2px);
}

.accountDiv .accountSettingsDiv input {
  background-color: var(--bg3);
  vertical-align: super;
  transition: 100ms;
  color: #404351;
  margin-left: 4px;
  display: inline-block;
}

.accountDiv .accountSettingsDiv input:focus {
  border-bottom: 2px solid var(--bg5);
}

.accountDiv .accountSettingsDiv {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 2px solid var(--bg5);
}
.fieldType {
  color: var(--bg5);
  margin-left: -4px;
  text-transform: uppercase;
  margin-top: 12px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
}

.newFieldBtn {
  background-image: url("../assets/plus.svg");
  width: 22px;
  height: 22px;
  border-radius: 3px;
  transition: 100ms;
  margin-right: 4px;
  background-size: 20px 20px;
  background-color: var(--bg3);
}

.newFieldBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/plus1.svg");
}

.delAccountBtn {
  float: right;
  width: 22px;
  background-color: var(--bg3);
  margin-left: 4px;
  height: 22px;
  border-radius: 3px;
  transition: 100ms;
  background-size: 18px 18px;
  background-image: url("../assets/trashColor.svg");
}

.delAccountBtn:hover {
  background-color: var(--red);
  background-image: url("../assets/trash1.svg");
}

.accountDiv table tr td img {
  height: 18px;
  transform: none;
  vertical-align: top;
  margin-right: 4px;
  width: 18px;
}

#settings #password {
  background-color: var(--bg3);
  color: #535663;
  transform: translateY(-1px);
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  transition: 200ms;
  padding: 4px 4px;
}
