* {
  margin: 0;
  padding: 0 0;
  border: none;
  font-family: Helvetica;
}

body {
  background-color: var(--bg1);
}

#app {
  display: none;
}

:root {
  --bg1: #121319;
  --bg2: #191a21;
  --bg3: #1f2028;
  --bg4: #23242d;
  --bg5: #2a2b35;
  --green: #009966;
  --selectionGreen: #64a684;
  --yellow: #e2b86a;
  --blue: #578ed1;
  --red: #c6354d;
}

input {
  outline: none;
}

*[contenteditable="true"] {
  outline: none;
}

#lists {
  margin-left: 12px;
  margin-top: 12px;
}
.deleteListBtn {
  float: right;
  background-image: url("../assets/trashColor.svg");
}
.listSettingsDiv {
  margin-top: 16px;
}
.listSettingsDiv button {
  transform: translateY(4px);
  margin-left: 4px;
  width: 26px;
  height: 26px;
  background-color: var(--bg1);
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  transition: background-color 100ms;
}
.listSettingsDiv button:hover {
  background-color: var(--bg3);
}
.listSettingsDiv div {
  float: right;
}
.deleteListBtn:hover {
  background-image: url("../assets/trash1.svg");
  background-color: var(--red) !important;
}

.listDiv {
  margin-right: 12px;
}
.mainListContent.block {
  margin-top: 4px;
}

.listTitle {
  transition: all 100ms, width 0ms;
  display: inline-block;
  color: #606472;
  width: calc(100vw - 160px - 54px);
  padding: 4px 4px;
  padding-left: 0;
  background-color: var(--bg1);
  border-radius: 3px;
  margin-top: 4px;
  font-size: 24px;
  font-weight: 500;
}

.sublistDiv {
  margin-right: 12px;
  margin-bottom: 16px;
}

.sublistTitleDiv {
  margin-bottom: 2px;
  width: calc(100vw - 160px - 46px);
}

.sublistTitleDiv input {
  font-size: 14px;
  background-color: var(--bg1);
  transition: all 100ms, width 0ms;
  width: calc(100% - 80px);
  font-size: 14px;
  font-weight: bold;
  color: #606472;
}

.newItemToTopBtn {
  width: 20px;
  height: 20px;
  background-color: var(--bg2);
  float: right;
  background-repeat: no-repeat;
  background-image: url("../assets/plus.svg");
  background-size: 16px 16px;
  background-position: center;
  transform: translateY(-4px);
  border-radius: 3px;
  margin-right: 4px;
  transition: 100ms;
}

.newItemToTopBtn:hover {
  background-image: url("../assets/plus1.svg");
  background-color: var(--bg3);
}
.collapseSublistBtn {
  width: 20px;
  height: 20px;
  background-color: var(--bg2);
  float: right;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border-radius: 3px;
  transition: 100ms;
  transform: translateY(-4px);
}
.collapseSublistBtn.up {
  background-image: url("../assets/arrowUp.svg");
}
.collapseSublistBtn.up:hover {
  background-image: url("../assets/arrowUp1.svg");
  background-color: var(--bg3);
}

.collapseSublistBtn.down {
  background-image: url("../assets/arrowDown.svg");
}
.collapseSublistBtn.down:hover {
  background-image: url("../assets/arrowDown1.svg");
  background-color: var(--bg3);
}
.item {
  padding: 10px 10px 2px 10px;
  background-color: var(--bg2);
  margin-bottom: 6px;
  width: calc((100vw - 160px - 72px));
  border-radius: 4px;
  transition: all 100ms, padding 0ms, width 0ms;
}

.item .title {
  color: #535663;
  font-size: 16px;
  display: inline-block;
  background-color: var(--bg2);
  vertical-align: top;
  border-radius: 3px;
  width: calc(100% - 48px);
  transition: 100ms;
  padding: 2px 2px;
  transform: translateY(-4px);
}


.moreBtn {
  width: 24px;
  height: 24px;
  background-color: var(--bg2);
  float: right;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  transform: translateY(-5px) translateX(4px);
  background-image: url("../assets/settings.svg");
}
.moreBtn:hover {
  background-image: url("../assets/settings1.svg");
}

.itemSettingsDiv {
  width: calc(100% + 20px);
  margin-top: 4px;
  padding-top: 4px;
  margin-left: -10px;
  border-top: 2px solid var(--bg3);
}
.itemSettingsDiv button {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: var(--bg2);
  background-position: center;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: 100ms;
}

.itemSettingsDiv button:hover {
  background-color: var(--bg4);
}

.addDescBtn {
  background-image: url("../assets/text.svg");
}
.addDescBtn:hover {
  background-image: url("../assets/textColor.svg");
}

.setPriorityBtn {
  background-image: url("../assets/star.svg");
  background-size: 18px 18px !important;
}
.setPriorityBtn.active {
  background-image: url("../assets/starColor.svg");
}
.setPriorityBtn:hover {
  background-image: url("../assets/starColor.svg");
}
.addLinkBtn {
  background-image: url("../assets/link.svg");
}
.addLinkBtn:hover {
  background-image: url("../assets/linkColor.svg");
}

.addLinkInput {
  background-color: var(--bg3);
  margin-bottom: 4px;
  color: var(--blue);
  margin-left: 8px;
  border-radius: 3px;
  padding: 4px 8px;
}

.deleteItemBtn {
  margin: 0 !important;
  transform: translateX(4px);
  background-image: url("../assets/trashColor.svg");
}

.deleteItemBtn:hover {
  background-image: url("../assets/trash1.svg");
  background-color: var(--red) !important;
}

.itemMedia {
  width: 100%;
  border-radius: 5px;
  margin-top: 6px;
  image-rendering: pixelated;
}

.uploadMediaBtn {
  background-image: url("../assets/upload.svg");
  margin-left: 4px;
}
.uploadMediaBtn:hover {
  background-image: url("../assets/uploadColor.svg");
}
.delMediaBtn {
  background-image: url("../assets/trash.svg");
}
.delMediaBtn:hover {
  background-image: url("../assets/trashColor.svg");
}

.itemDescription {
  font-size: 14px;
  color: #535663;
  background-color: var(--bg2);
  margin-top: 0;
  border-radius: 4px;
  transition: 100ms;
  width: auto;
  margin-bottom: 4px;
  padding: 0 4px 4px 0;
  padding-top: 0;
}

.creationDateText {
  color: #2d303c;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 8px;
  margin-bottom: 6px;
  user-select: none;
}

.statusBtn {
  height: 16px;
  width: 16px;
  transform: translateY(-2px);
  border-radius: 50%;
  margin-right: 2px;
  vertical-align: top;
  transition: 100ms;
}

.statusBtn.s0 {
  background-color: var(--blue);
}

.statusBtn.s1 {
  background-color: var(--red);
}

.statusBtn.s2 {
  background-color: var(--yellow);
}
.statusBtn.s3 {
  background-color: var(--green);
}

.statusBtn.s0.priority {
  background-image: url("../assets/star0.svg");
  background-color: var(--bg2);
  background-size: 100%;
  border-radius: 0;
}
.statusBtn.s1.priority {
  background-image: url("../assets/star1.svg");
  background-color: var(--bg2);
  background-size: 100%;
  border-radius: 0;
}
.statusBtn.s2.priority {
  background-image: url("../assets/star2.svg");
  background-color: var(--bg2);
  background-size: 100%;
  border-radius: 0;
}
.statusBtn.s3.priority {
  background-image: url("../assets/star3.svg");
  background-color: var(--bg2);
  background-size: 100%;
  border-radius: 0;
}

.item.s0 {
  border-left: 6px solid var(--blue);
}

.item.s1 {
  border-left: 6px solid var(--red);
}

.item.s2 {
  border-left: 6px solid var(--yellow);
}

.item.s3 {
  border-left: 6px solid var(--green);
}

body::-webkit-scrollbar {
  /* hide scrollbar */
  display: none;
}

#menuBar {
  height: 32px;
  width: calc(100vw - 180px);
  margin-left: 180px;
  background-color: var(--bg2);
  position: fixed;
  -webkit-app-region: drag;
  transition: all 100ms width 0ms;
  z-index: 99;
}

#menuBar button {
  -webkit-app-region: no-drag;
  background-color: var(--bg2);
  width: 32px;
  height: 32px;
  background-position: center;
  transition: 100ms;
}
#closeBtn {
  background-size: 22px 22px;
  float: right;
  background-image: url("../assets/close.svg");
}

#closeBtn:hover {
  background-color: var(--red);
  background-image: url("../assets/close2.svg");
}

#minimizeBtn {
  background-size: 24px 24px;
  float: right;
  background-image: url("../assets/minimize.svg");
}

#minimizeBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/minimize1.svg");
}

.tooltip {
  position: absolute;
  font-size: 12px;
  color: #8c8c8c;
  background-color: var(--bg3);
  white-space: nowrap;
  user-select: none;
  display: none;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1000;
}

.itemSettingsDiv div {
  display: inline-block;
}

.openMediaFolderBtn {
  background-image: url("../assets/folder.svg");
}
.openMediaFolderBtn:hover {
  background-image: url("../assets/folderColor.svg");
}

.duplicateItemBtn {
  background-image: url("../assets/duplicate.svg");
}

.duplicateItemBtn:hover {
  background-image: url("../assets/duplicateColor.svg");
}

#refreshBtn {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  float: left;
  background-position: center;
  background-image: url("../assets/refresh.svg");
}

#refreshBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/refresh1.svg");
}

#settings {
  background-color: var(--bg1);
  margin-top: 12px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 8px 12px;
}

#settings p {
  margin: 0;
  margin-top: 8px;
  color: #404351;
  font-size: 14px;
}

#settings h1 {
  display: inline;
  font-size: 18px;
  color: #818491;
  font-weight: 1;
}
#settings h3 {
  font-size: 16px;
  font-weight: 1;
  color: #6a6d7a;
  display: inline-block;
}

.settingsDiv {
  margin-bottom: 8px;
  margin-top: 6px;
  padding: 12px 12px;
  background-color: var(--bg2);
  border-radius: 4px;
}

.switch {
  float: right;
  transform: translateY(-3px) translateX(2px);
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg5);
  transition: 200ms;
}

.slider:before {
  position: absolute;
  height: 19px;
  width: 19px;
  content: "";
  left: 3px;
  bottom: 3px;
  background-color: #606472;
  transition: 400ms;
}

input:checked + .slider {
  background-color: var(--green);
}

input:checked + .slider:before {
  background-color: #d5d5d5;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

a {
  color: var(--blue);
  font-size: 14px;
}

.openLinkBtn {
  float: none;
  background-size: 100%;
  background-color: var(--bg2);
  background-image: url("../assets/linkColor.svg");
  width: 20px;
  display: inline;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 20px;
  margin-right: -1px;
  transform: translateY(6px) translateX(1px);
}

#openResourcesFolderBtn {
  background-repeat: no-repeat;
  border-radius: 3px;
  float: right;
  width: 26px;
  height: 26px;
  background-color: var(--bg2);
  background-size: 20px 20px;
  transition: 100ms;
  transform: translateY(-3px);
  background-position: center;
  background-image: url("../assets/folder.svg");
}

#openResourcesFolderBtn:hover {
  background-color: var(--bg4);
  background-image: url("../assets/folder1.svg");
}

#closeSettings {
  background-image: url("../assets/close.svg");
  width: 20px;
  height: 20px;
  background-size: 100%;
  float: right;
  background-color: var(--bg2);
}

#closeSettings:hover {
  background-image: url("../assets/close1.svg");
}

#homePageDiv {
  margin: 16px;
  cursor: block;
}

#homePageDiv h1 {
  user-select: none;
  color: #535663;
}

#homePageDiv h3 {
  user-select: none;
  color: #404351;
}

#homePageDiv p {
  margin-top: 12px;
  color: #404351;
}
#homePageDiv #homepageBtns .homepageBtnDiv {
  background-color: var(--bg2);
  padding: 8px 8px;
  width: 209px;
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
}
#homePageDiv #homepageBtns .homepageBtn {
  background-color: var(--green);
  padding: 4px 4px;
  color: var(--bg2);
  float: right;
  margin-top: 24px;
  border-radius: 3px;
}
.listTypeIcon {
  width: 18px;
  float: right;
  height: 18px;
}

.lockIcon {
  width: 18px;
  float: right;
  height: 18px;
}

#homePageDiv #homepageBtns .homepageBtnDiv p {
  margin: 0;
  font-size: 16px;
  color: #4f5363;
}

#homePageDiv #homepageBtns .homepageBtnDiv .lcd1 {
  color: #404351;
  font-size: 12px;
}

#homePageDiv #homepageBtns {
  margin-left: -12px;
}

.mainListContent.text {
  background-color: var(--bg1);
  margin: 0;
  padding-bottom: 2px;
  border-radius: 4px;
}

.mainListContent.text .block.text {
  font-size: 14px;
  margin-bottom: 4px;
}
.mainListContent.text .block.text .text {
  overflow-x: auto;
  color: #6a6d7a;
  background-color: var(--bg1);
}
.mainListContent.text .block.code {
  margin-bottom: 8px;
  color: #404351;
  font-size: 14px;
}

.mainListContent.text button {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: var(--bg1);
  background-position: center;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: 100ms;
}

.mainListContent.text button:hover {
  background-color: var(--bg2);
}

.newCodeBlockBtn {
  background-image: url("../assets/code.svg");
}
.newCodeBlockBtn:hover {
  background-image: url("../assets/codeColor.svg");
}

.copyBtn {
  background-color: transparent !important;
  transition: 100ms;
  margin-right: 0 !important;
  background-image: url("../assets/copy.svg");
}

.copyBtnDiv {
  position: absolute;
  transform: translateX(-48px) translateY(3px);
  right: 0;
}

.copyBtn:hover {
  background-image: url("../assets/copy1.svg");
}

.delBlockBtn {
  margin: 0 !important;
  background-color: var(--bg1) !important;
  background-image: url("../assets/trash.svg");
}

.delBlockBtn:hover {
  background-color: var(--bg3) !important;
  background-image: url("../assets/trashColor.svg");
}
.mainListContent.text .block.code .text {
  padding: 8px 12px;
  border-radius: 3px;
  white-space: nowrap;
  background-color: var(--bg2);
  font-family: Consolas !important;
  overflow-x: auto;
}

.blockSettingsDiv {
  float: right;
  margin-left: 12px;
}

#side {
  position: fixed;
  height: 100%;
  background-color: var(--bg2);
  padding: 8px;
  z-index: 900;
  width: 164px;
}

#content {
  margin-left: 180px;
}

.sideListBtn {
  display: block;
  background-color: var(--bg2);
  text-align: left;
  transition: 100ms;
  color: #6a6d7a;
  width: 100%;
  padding: 12px 8px;
  user-select: none;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  background-position: 138px 10px;
}
/* block */
.sideListBtn.block {
  background-image: url("../assets/blockList.svg");
}
.sideListBtn.block.active {
  background-image: url("../assets/blockList1.svg");
}
/* block & unlocked */
.sideListBtn.block.unlocked.active {
  background-image: url("../assets/unlock1.svg"),
    url("../assets/blockList1.svg");
  background-position: 114px 10px, 138px 10px;
}
/* text */
.sideListBtn.text {
  background-image: url("../assets/textList.svg");
}
.sideListBtn.text.active {
  background-image: url("../assets/textList1.svg");
}
/* text & unlocked */
.sideListBtn.text.unlocked.active {
  background-image: url("../assets/unlock1.svg"), url("../assets/textList1.svg");
  background-position: 116px 6px, 140px 6px;
}

/* locked */
.sideListBtn.locked {
  background-image: url("../assets/lock.svg");
}
.sideListBtn.locked.active {
  background-image: url("../assets/lock1.svg");
}

.sideListBtn.active {
  background-color: var(--green);
  color: #efefef;
}
.sideListBtn.active:hover {
  background-color: var(--green);
}

.sideListBtn:hover {
  background-color: var(--bg3);
}

.listDate {
  color: #2d303c;
  font-size: 12px;
  user-select: none;
  margin-left: 8px;
  display: inline-block;
  margin-top: 8px;
}
.pswdInput {
  background-color: var(--bg2);
  transition: 100ms;
  padding: 2px 12px;
  height: 20px;
  border-radius: 24px;
  color: #606472;
}

.pswdSubmit {
  background-color: var(--bg2);
  width: 24px;
  transform: translateY(8px);
  transition: 100ms;
  height: 24px;
  border-radius: 50%;
  background-image: url("../assets/arrowRight.svg");
  background-position: center;
  background-size: 18px 18px;
  margin-left: 4px;
}

.pswdSubmit:hover {
  background-image: url("../assets/arrowRight1.svg");
  background-color: var(--bg3);
}

#noListSelected {
  text-align: center;
  margin-top: 128px;
  user-select: none;
  color: var(--bg4);
  font-size: 32px;
}

.lockedDiv {
  text-align: center;
  margin-top: 128px;
}

.pswdInput::placeholder {
  color: #404351;
}
.lockedTitle {
  color: #404351;
  user-select: none;
}

.lockListBtn {
  background-image: url("../assets/lock.svg");
}

.unlockListBtn {
  background-image: url("../assets/unlock.svg");
}
.lockListBtn:hover {
  background-image: url("../assets/lockColor.svg");
}

.unlockListBtn:hover {
  background-image: url("../assets/unlockColor.svg");
}

#settings #password {
  background-color: var(--bg3);
  color: #535663;
  transform: translateY(-1px);
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  padding: 4px 4px;
}

#side p {
  font-weight: bold;
  color: #404351;
  margin-bottom: 2px;
  user-select: none;
  margin-top: 12px;
  margin-left: 8px;
  font-size: 12px;
}

#homeBtn {
  font-size: 16px;
  padding: 4px 8px;
}

#settingsBtn {
  font-size: 16px;
  padding: 6px 8px;
  background-position: 138px 6px;
  background-image: url("../assets/settings.svg");
}
#settingsBtn.active {
  background-image: url("../assets/settings2.svg");
}

#newListBtn {
  background-color: var(--bg3);
  border-radius: 50%;
  width: 24px;
  font-size: 20px;
  transition: 100ms;
  user-select: none;
  height: 24px;
  color: #404351;
}

#newListBtn:hover {
  background-color: var(--bg4);
  color: #4f5363;
}
#listType {
  background-color: var(--bg2);
  color: #404351;
  user-select: none;
  outline: none;
}

#listType:hover {
  color: #4f5363;
}

#info {
  position: absolute;
  text-align: center;
  margin-top: 40px;
  margin-left: calc((100vw / 2) - 8px);
  z-index: 99999;
}

.alert {
  padding: 6px 16px 8px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  width: auto;
  white-space: nowrap;
  color: #404351;
  background-color: var(--bg2);
}
.alert p {
  display: inline-block;
  margin-left: 4px;
}
.alert.error {
  border-left: 6px solid var(--red);
}
.alert.success {
  border-left: 6px solid var(--green);
}
.alert.normal {
  border-left: 6px solid var(--bg3);
}
.alert.warning {
  border-left: 6px solid var(--yellow);
}
.alert.info {
  border-left: 6px solid var(--blue);
}
.alert img {
  width: 18px;
  margin-right: 4px;
  height: 18px;
  transform: translateY(3px);
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flash {
  0% {
    background-color: var(--bg2);
  }
  20% {
    background-color: var(--bg3);
  }
  100% {
    background-color: var(--bg2);
  }
}

::selection {
  background: var(--selectionGreen);
}
